{% extends 'shop/layouts/main.html' %}

{% block title %}
    E-commerce | Online Shopping
{% endblock title %}
{% block content %}
{% include 'shop/inc/slider.html' %}
    <div class="container" style="margin-top: 70px;">
        <div class="row">
            <div class="col-12"><h1>Lastest Product</h1></div>
            <hr style="border-color: #b8bfc2">
            {% for item in product %}
            <div class="col-md-4 col-lg-3">
                <div class="card my-3">
                    <img src="{{item.product_image.url}}" class="card-image-top" alt="Categories">
                    <a href="{% url 'product_detail' item.category.name item.name %}" class="btn">
                    <div class="card-body">
                        <h5 class="card-title text-primary text-start">{{item.name}}</h5>
                        <p class="card-text text-start">
                            <span class="selling_price">{{ item.selling_price | stringformat:'d' }}đ</span>
                            <span class="fst-italic old_price"><s>{{ item.old_price | stringformat:'d' }}đ</s></span>
                        </p>
                    </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
    
